body {
  background-color: antiquewhite;
}

header {
  text-align: center;

  .title {
    font-size: 36px;
    color: aqua;
  }
}

.changed-date {
  display: flex;

  .period-date {
    margin: 0 20px;
  }
}